<form action="">
    <div class="imgcontainer">
        <img src="" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="uname">Username</label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="pass">Password</label>
        <input type="text" placeholder="Enter Password" name="pass" required>

        <!-- Fake Login Button. Route to simulated 'user' -->
        <button type="submit">Login</button> 
        
    </div>
</form>