<form action="">
    <div class="imgcontainer">
        <img src="" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <!-- <label for="uname">Username</label>
        <input type="text" placeholder="Enter Username" name="uname">

        <label for="pass">Password</label>
        <input type="password" placeholder="Enter Password" name="pass"> -->

        <!-- Fake Login Button. Route to simulated 'user' -->
        <button routerLink="/logged">Login</button> 
        
    </div>
</form>