* {
    margin: 1px;
    padding: 1px;
}

.messageBox{
    border: solid;
    color: black;
    margin: 5px;
}

.image{
    display: flex;
    height: 60px;
    width: 60px;
    border: solid;
}

.scroll{
    overflow-y: auto;
}

.outerBox{
    border: solid;
    height: 75vh;
    width: 82vw;
    justify-content: center;
}

h1{
    margin: 10px;
}

.position{
    justify-content: center;
}

.signOut{
    justify-content: center;
}