* {
    margin: 0;
    padding: 0;
    box-sizing: broder-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fffcfc;
}

.wrapper{
    display: flex;
}

.format{
    display: flex; 
    flex-direction: column;
    background-color: #2D333B;
    width: 150px;
    height: 100vh;
}

.signOut{
    height: 50px;
    width: 140px;
    background-color: #8F1021;
    box-shadow: 0 3px
    10px  #750D1B;
    color: #F59B7D;   /* text color  */
    font-size: 16px;
    font-weight: bold;
    border: none;
    top: 10%;
}

.homeSize{
    font-size: 18px;
    width: 8vw;
    height: 6vh;
    margin: 1vw;
    background-color: #2D333B;
    font-weight: bold;
    color: #99A3AD;
    outline: none;
    border: none;
}

.userButton{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: none;
    border: none;
    background-color: #60676E;
    color: #DCEBFA;
    font-size: 20px;
    margin-bottom: 1px;
    margin-top:1px;
}

.userButton:hover{
    background-color: rgb(60, 0, 172);
    color: white;
}

.position{
    position: absolute;
    bottom: 5px;
    left: 50%;
  }
