<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Message Form</title>
</head> -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/messages.component.css">
<body>
  <div class="mainContent wrapper">
    <div class="userListWrapper">
      <!-- Bellow this is the code    -->
      <!--       for the menu         -->
      <div class = "format">
        <div class = "search-set">
            <button routerLink ="/home" class="homeSize">
              <i class="fa fa-search" aria-hidden="true"></i>
              Search
            </button>
        </div>
        <div *ngFor ="let items of menu" class = "userButton">
            <button class="userButton" (click)="getChannel(items)">{{items.channelName}}</button>  
        </div>
      </div>
    </div>

      <!-- Above is the code for the menu -->
      <!-- Below is the code where the message-feed component is called -->
    <div #scroller class="feedWrapper">
      <app-message-feed [channel]="channel"></app-message-feed>
    </div>

    <!-- Above is the code where the message feed component is called -->
    <!--     Below is the code for the textBox          -->
    <div class ="messageContainer">
      <input #message
      class="position"
      (keyup.enter)="sendChat(message.value); message.value='' " placeholder=" Please enter your message..." >
      
<!-- <<<<<<< HEAD
   
======= -->

      <!-- <p *ngFor="let chatMessage of chat_messages">
        {{chatMessage.username}}: 
        {{chatMessage.timeStamp | date: 'short'}}: 
        {{chatMessage.messageContent}}
      </p> -->

<!-- >>>>>>> 3422805cd6fd14a778715c69141870d42dd83df2 -->

    </div>

    <!--    Above is the code for the text box     -->
    <!-- Below is the code for the sign out button -->
  
    <button routerLink= "/login" class="signOut">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      Sign Out</button>
  </div>

</body>
<!-- </html> -->