.mainDisplay{
    display: flex;
    flex-direction: column;
    height: 100vh;
    Width: 80vw;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    
}

.signOut{
    height: 30px;
    width: 10vw;
}

h1{
    margin: .8vh;    
}

.searchBox{
    width: 20vw;
    height: 5vh;
    border: solid;
    font-size: 30px;
    color: red;
}